/*

Table of Contents

1.0 - Main
	1.1.0 Default Link + Button
2.0 - Topbar
3.0 - Menus
	3.0.1 - Main Menu
	3.0.2 - Mobile Menu
4.0 - Header
	4.0.1 - Header Style
		4.1.1 - Header Style v1
		4.1.2 - Header Style v2
	4.0.2 - Header Skin
		4.2.1 - Header Skin Default
		4.2.2 - Header Skin Transparent
5.0 - Title Wrapper
6.0 - Pagination
7.0 - Footer
8.0 - To Top Button
9.0 - Comment
10.0 - Animation style
11.0 - Global style

-------------------------------------------------------------------*/
/* Table of Content 
==================================================
	#General Sites
	#Misc */


/*=========================================================================
  Main
//=======================================================================*/
.layout-boxed{
	background-color:#333;
}
.layout-boxed #st-wrapper{
	margin:0 auto;
}

#st-wrapper{
	overflow:hidden;
	background-color:#fff;
}

.container-fluid .container,
.container-full .container {
    width: 100%;
}
.padding-top{
	padding-top:100px;
}

/*Default Link + Button*/
.btn, 
button,
.button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"],
input.button,
.load-more a,
a.button,
.wc-forward,
.address .edit,
.header-button,
.portfolio-link a,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
	background-color:#ffb300;
	color:#fff;
	display:inline-block;
	position:relative;
	white-space:nowrap;
	border-width:1px;
	border-style:solid;
	border-color:transparent;
	line-height:22px;
	letter-spacing:.7px;
	padding:9px 16px;
	font-size:11px;
	font-weight:700;
	text-transform:uppercase;
}
.btn:hover, 
button:hover,
.button:hover,
html input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover,
input.button:hover,
.load-more a:hover,
a.button:hover,
.wc-forward:hover,
.address .edit:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
	color:#fff;
	background-color:#505050;
}
.header-button{}
.header-button:hover,
.portfolio-link a{
	background:none;
	color:inherit;
	border-color:inherit;
}
.portfolio-link a:hover{
	color:#fff;
	border-color:#ffb300;
	background-color:#ffb300;
}
/*=========================================================================
  Topbar
//=======================================================================*/
#topbar-wrapper{
	line-height:40px;
	height:40px;
	font-size:12px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
#topbar-wrapper ul{
	margin:0;
}
#topbar-wrapper a{
	color:inherit;
}
#topbar-wrapper .topbar-left{}
#topbar-wrapper .topbar-right{}
#topbar-wrapper .topbar-left li{
	border-right-style:solid;
	border-right-width:1px;
	padding:0 20px;
}
#topbar-wrapper .topbar-left li:first-child{
	border-left-style:solid;
	border-left-width:1px;
}
#topbar-wrapper .topbar-label{
	margin-right:7px;
	display:inline-block;
}
#topbar-wrapper .st-social li{
	line-height:40px;
}
#topbar-wrapper .st-social a{
	line-height:30px;
	height:30px;
	width:30px;
	border:none;
	margin:0 3px 0 0;
	color:inherit;
	background-color:rgba(0, 0, 0, 0.05);
}

/*=========================================================================
  Menus
//=======================================================================*/
/*main menu*/
ul.primary-menu{
	margin:0;
}
ul.primary-menu li{
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
}
ul.primary-menu > li{
	float:left;
}
ul.primary-menu li a,
ul.primary-menu > li > a{
	line-height:inherit;
	padding:0 20px;
	display:block;
	position:relative;
}
ul.primary-menu > li > a{
	font-weight:400;
	font-size:13px;
	color:inherit;
	text-transform:uppercase;
}
ul.primary-menu ul{
	padding:0;
	position:absolute;
	width:230px;
	top:100%;
	z-index:10;
	text-transform:uppercase;
	letter-spacing:.7px;
	font-weight:400;
	font-size:12px;
	display:none;
	text-align:left;
	background-color:#182630;
}
ul.primary-menu ul a{
	position:relative;
	color:#ccc;
	line-height:40px;
	padding-left:40px;
}
ul.primary-menu ul a:after{
	position:absolute;
	content:'';
	left:0;
	bottom:0;
	width:40px;
	opacity:.2;
	border-bottom:1px solid;
}
ul.primary-menu ul a:hover:after{
	width:40%;
}
ul.primary-menu ul > li:last-of-type > a:after{
	display:none;
}
ul.primary-menu ul ul li a:after{
	display:block;
}
ul.primary-menu ul li > a,
.header-skin-default ul.primary-menu ul li > a{
	
}
ul.primary-menu ul li a:hover,
ul.primary-menu ul > li:hover > a{
	color:#fff;
}
ul.primary-menu ul li ul,
.header-skin-transparent ul.primary-menu ul ul{
	position:absolute;
	top:0;
	left:100%;
}

/*mobile menu*/
#toggle-mobile-menu{
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	right:0;
	width:20px;
	height:15px;
			transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
#toggle-mobile-menu::before,
#toggle-mobile-menu span::before,
#toggle-mobile-menu span::after{
	position:absolute;
	left:0;
	width:100%;
	height:3px;
	content:'';
	top:0;
	border-top:3px solid;
}
#toggle-mobile-menu span::before{
	top:6px;
}
#toggle-mobile-menu span::after{
	top:12px;
}
#toggle-mobile-menu span{
	position:relative;
	display:block;
}

#mobile-container{
	position:absolute;
	top:100%;
	left:0;
	right:0;
	font-weight:400;
	font-size:13px;
	text-transform:none;
	letter-spacing:0;
	z-index:999;
	background-color:#262626;
}
.mobile-menu{
	display:none;
}
.mobile-menu,
.mobile-menu ul{
	margin:0;
	padding:0;
	list-style:none;
}
.mobile-menu li{
	display:block;
	padding:0 15px;
	border-top:1px solid #303030;
}
.mobile-menu li a{
	display:block;
	padding:10px 0;
	position:relative;
	color:#999;
	line-height:26px;
	text-align:left;
}
.mobile-menu li:hover{
	background-color:#222;
}
.mobile-menu li a:hover{
	color:#fff;
}
.mobile-menu .menu-item-has-children > a:after{
	position:absolute;
	content:'\f107';
	right:0;
	font-weight:normal;
	font-family:'FontAwesome';
}
.mobile-menu li ul{
	padding-left:15px;
	display:none;
	padding:0;
}
.mobile-menu li ul li{
	padding:0;
}
.mobile-menu ul.mega-menu.bg-mega-menu{
	background-image:none !important;
}
.mobile-menu .mega-menu li{
	width:100%;
}

/*=========================================================================
  Header
//=======================================================================*/
.header-left-info ul,
.header-left-info ol,
.header-right-info ul,
.header-right-info ol{
	margin:0;
}

.header-search{
	position:relative;
}
.header-search .search-form{
	position:absolute;
	top:100%;
	right:0;
	width:300px;
	z-index:9;
	line-height:normal;
	display:none;
}
.header-search .search-form form input{
	margin:0;
	padding:10px 20px;
	border:none;
	color:#ddd;
	background-color:#182630;
}
.header-search .search-icon{
	position:relative;
	cursor:pointer;
}
.header-style-v2 .header-search .search-icon{
	margin-right: 5px;
}
.header-search .search-icon i{
	padding:0 10px;
}

#header-wrapper .header-left-info{}
#header-wrapper .header-left-info li{
	position:relative;
	float: left;
	font-size:13px;
	font-weight:600;
	margin-right:20px;
}
#header-wrapper .header-left-info li span{
	float:left;
}
#header-wrapper .header-left-info li .header-label{
	color:#ffb300;
	margin-right:7px;
}
#header-wrapper .header-left-info li .header-hightlight{
	overflow:hidden;
}
#header-wrapper .header-left-info .header-hightlight strong{
	display:block;
	font-weight:600;
}
.header-left-info ul,
.header-left-info ol{
	margin:0;
}

/*---------------HEADER STYLE---------------*/
/*Header Style v1*/
.header-style-v1 .header-container,
.header-style-v1 .header-top,
.header-style-v1 .header-bottom,
.header-style-v1 .header-logo{
	display:flex;
	flex-flow:row;
	align-content:center;
}
.header-container{
	position:relative;
}

.header-style-v1 .header-logo{
	margin-right:50px;
	align-items:center;
}
.header-style-v1 .header-logo a{
	display:block;
}
.header-style-v1 .header-right{
	flex:auto;
}
.header-style-v1 .header-top{
	font-size:13px;
	line-height:53px;
	justify-content:space-between;
	border-bottom:1px solid transparent;
}
.header-style-v1 .header-bottom{
	line-height:80px;
	justify-content:space-between;
}

/*Header Style v2*/
.header-style-v2 #header{
	position:absolute;
	left:0;
	right:0;
	z-index:9;
}
.header-style-v2 .header-container{
	line-height:105px;
	text-align:center;
	justify-content:space-between;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}
.header-style-v2 .header-container .header-logo{
	order:2;
	line-height:inherit;
	width:20%;
}
.header-style-v2 .header-container .header-left-info{
	order:1;
	width:40%;
	align-self:center;
	text-align:left;
}
.header-style-v2 .header-container .header-right-info{
	order:3;
	width:40%;
	text-align:right;
}
.header-style-v2 .nav-container{
	line-height:55px;
	height:55px;
	justify-content:space-between;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	align-items:center;
}

/*---------------HEADER SKIN---------------*/
/*Header Skin Default*/
.header-skin-default #topbar-wrapper{
	background-color:#f6f6f6;
	color:#777;
}
.header-skin-default #topbar-wrapper,
.header-skin-default #topbar-wrapper .topbar-left,
.header-skin-default #topbar-wrapper .topbar-right,
.header-skin-default #topbar-wrapper li,
.header-skin-default .header-top{
	border-color:rgba(0, 0, 0, .085);
}
.header-skin-default .header-right{
	color:#202020;
}
.header-style-v1 .header-skin-default{
	background-color:#fff;
}


.header-style-v2 .header-skin-default .header-container{
	background-color:#fff;
	padding:0 15px;
}
.header-style-v2 .header-skin-default #topbar-wrapper,
.header-style-v2 .header-skin-default #topbar-wrapper li{
	background:none;
	border:none;
	color:#fff;
}
.header-style-v2 .header-skin-default .nav-container{
	background-color:rgba(24, 38, 48, 0.85);
	color:#fff;
}
.header-style-v2 .header-skin-default .header-stick.affix{
	background-color:rgba(24, 38, 48, 0.85);
}
.header-style-v2 .header-skin-default .header-stick.affix .nav-container{
	background:none;
}
.header-style-v2 .header-skin-default ul.primary-menu > li > a{
	color:inherit;
}
.header-style-v2 .header-skin-default ul.primary-menu > li > a::after{
	position:absolute;
	content:'';
	left:50%;
	top:13px;
	right:50%;
	height:1px;
	background-color:#ffb300;
}
.header-style-v2 .header-skin-default ul.primary-menu > li > a:hover::after,
.header-style-v2 .header-skin-default ul.primary-menu > li:hover > a::after,
.header-style-v2 .header-skin-default ul.primary-menu > li.current_page_item > a::after,
.header-style-v2 .header-skin-default ul.primary-menu > li.current-menu-parent > a::after,
.header-style-v2 .header-skin-default ul.primary-menu > li.current-menu-ancestor > a::after{
	left:20px;
	right:20px;
}

/*Header Skin Transparent*/
.header-skin-transparent{
	position: absolute;
    z-index: 201;
	width:100%;
	color:#fff;
}
.header-skin-transparent #topbar-wrapper{
	color:rgba(255, 255, 255, .65);
	border-bottom:none;
}
.header-skin-transparent #topbar-wrapper .topbar-left,
.header-skin-transparent #topbar-wrapper .topbar-right,
.header-skin-transparent #topbar-wrapper li,
.header-skin-transparent .header-top{
	border-color:rgba(255, 255, 255, .1);
}
.header-skin-transparent .header-stick{
	background-color:rgba(24, 38, 48, 0.45);
}
.header-skin-transparent ul.primary-menu > li > a{
	color:inherit;
}
/*.header-skin-transparent ul.primary-menu > li > a:hover,
.header-skin-transparent ul.primary-menu > li:hover > a,
.header-skin-transparent ul.primary-menu > li.current_page_item > a,
.header-skin-transparent ul.primary-menu > li.current-menu-parent > a,
.header-skin-transparent ul.primary-menu > li.current-menu-ancestor > a{
	color:#ffb300;
}*/
.header-skin-transparent .header-stick .header-top{
	border-color:rgba(255, 255, 255, .15);
}

/*=========================================================================
  Title Wrapper
//=======================================================================*/
#title-wrapper{
	position:relative;
	padding:0;
	background-color:#353535;
}
#title-wrapper .container{
	z-index:2;
}
.title-holder{
	color:#fff;
	display:table;
	table-layout:fixed;
	width:100%;
}
.title-holder .title-holder-cell{
	display:table-cell;
	width:100%;
	vertical-align:middle;
	position: relative;
}
.page-title{
	margin:0;
	color:inherit;
	text-transform:uppercase;
	letter-spacing:-.5px;
	font-weight:600;
}
.page-subtitle {
	font-size:17px;
	font-weight:300;
	line-height:normal;
	letter-spacing:normal;
	display:block;
	margin-top:10px;
}
#title-wrapper .text-left .page-title{}
#title-wrapper .text-left .breadcrumb{
	position:absolute;
	right:0;
	margin:0;
	padding:0;
	bottom:50%;
	-webkit-transform:translateY(50%);
			transform:translateY(50%);
}
.breadcrumb{
	font-size:13px;
	background:none;
	margin:0;
	padding:10px 0 0 0;
}

.breadcrumb > li + li:before{
	text-shadow:none;
	color:inherit;
	content:'\f105';
	font-family:FontAwesome;
}
.breadcrumb a{
	color:inherit;
}
.breadcrumb > .active{
	color:inherit;
}
.breadcrumb a:hover,
.breadcrumb a:focus{
	opacity:1;
	opacity:.5;
}
/*=========================================================================
  Pagination
//=======================================================================*/
.pagination,
.woocommerce nav.woocommerce-pagination{
	text-align:left;
}
.pagination a,
.pagination .current,
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span{
	text-align:center;
	line-height:50px;
	width:50px;
	display:block;
	float:left;
	color:#36383e;
	margin-right:1px;
	margin-bottom:1px;
	background-color:#f6f6f6;
}
.pagination a:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover{
	background-color:#f0f0f0;
	font-weight:bold;
}
.pagination .current,
.pagination .current:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li span.current:hover{
	background-color:#36383e;
	color:#fff;
	font-weight:bold;
}

.post-navigation .nav-links{
	padding:10px 0;
	margin-bottom:60px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-top:1px dashed #e2e6e7;
	border-bottom:1px dashed #e2e6e7;
}

.post-navigation .nav-previous a::before{
	position:relative;
	content:'\2190';
	margin-right:10px;
}
.post-navigation .nav-next a::after{
	position:relative;
	content:'\2192';
	margin-left:10px;
}

/*=========================================================================
  Footer
//=======================================================================*/
#footer {
	background-color:#353535;
	color:#ccc;
}
#footer a{
	color:inherit;
}
#footer a:hover{
	color:#fff;
}
#footer-wrapper{
	padding:80px 0 50px;
}
#copyright-wrapper {
	padding:25px 0;
	font-size:12px;
	border-top:1px solid rgba(255, 255, 255, .075);
}
.footer-menu{
	margin:0;
}
.menu-footer-menu-container{
	display:inline-block;
	position:relative;
	z-index:2;
}
.footer-menu li{}
.footer-menu li::after{
	position:relative;
	content:'/';
	margin:0 7px;
}
.footer-menu li:last-of-type::after{
	display:none;
}

/*to top*/
.scrollTop{
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:99;
	display:none;	
}
.scrollTop a{
}
.scrollTop a i{
	width:36px;
	height:36px;
	line-height:36px;
	font-size:1em;
	color:#fff;
	text-align:center;
	background:rgba(0, 0, 0, 0.2);
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
			border-radius:3px;
}

/*=========================================================================
  Comments
//=======================================================================*/
#comments ol,
#comments ul{
	list-style:none;
	margin:0;
	padding:0;
}
.comment > .children li{
	margin-left:80px;
}
.comment > .children li li li{
	margin-left:0;
}
article.comment-body{
	padding:35px 0 30px;
	position:relative;
	border-bottom:1px solid #e2e6e7;
}
.comment .comment-author.vcard{
	line-height:100%;
}
.comment .comment-author .says{
	display:none;
}
.comment .comment-author .fn{
	font-weight:normal;
	color:#36383e;
}
.comment .comment-author .avatar{
	display:block;
	float:left;
	width:55px;
	height:55px;
	margin-right:20px;
			border-radius:50%;
	-webkit-border-radius:50%;
}
.comment .comment-metadata time{
	font-size:12px;
}
.comment .comment-content{
	margin-top:15px;
	padding-left:75px;
}
.comment .comment-content p:last-of-type{
	margin-bottom:0;
}
.comment .reply{
	position:absolute;
	top:35px;
	right:0;
	text-transform:uppercase;
	font-weight:600;
	font-size:13px;
	letter-spacing:1px;
}
/*=========================================================================
  Animation style
//=======================================================================*/
.btn, button, .button, html input[type="button"], input[type="reset"], input[type="submit"], input.button,
.load-more a, a.button,.wc-forward, .address .edit, .header-button, .portfolio-link a, .woocommerce #respond input#submit, 
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
button:hover, .button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
input.button:hover, .load-more a:hover, a.button:hover, .wc-forward:hover, .address .edit:hover, .woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
.logo-standart, .logo-sticky,
.header-style-v2 .header-skin-default .header-stick.affix, .header-style-v2 .header-skin-default .header-stick.affix-top,
.header-style-v2 .header-skin-default ul.primary-menu > li > a, .header-style-v2 .header-skin-default ul.primary-menu > li > a:hover,
.load-filter li a::after, .load-filter li a:hover::after,
.portfolio-container .portfolio-image .zoom-overlay, .portfolio-container:hover .portfolio-image .zoom-overlay,
.portfolio-container.style-1 .portfolio-content h4, .portfolio-container.style-1:hover .portfolio-content h4,
.portfolio-container.style-1 .portfolio-link, .portfolio-container.style-1:hover .portfolio-link,
.portfolio-container.style-1 .portfolio-link a, .portfolio-container.style-1 .portfolio-link a:hover,
.portfolio-container.style-2 .portfolio-image::before, .portfolio-container.style-2 .portfolio-image:hover::before,
.portfolio-container.style-2 .portfolio-image::after, .portfolio-container.style-2 .portfolio-image:hover::after,
.st-services-wgt li a, .st-services-wgt li a:hover,
.st-pricingbox.style-1, .st-pricingbox.style-1:hover,
.st-pricingbox.style-1 .box-link a, .st-pricingbox.style-1:hover .box-link a,
.st-button, .st-button:hover, .header-button, .header-button:hover,
.st-iconbox.style-3, .st-iconbox.style-3:hover,
.st-counter.icon-left .box-icon, .st-counter.icon-left:hover .box-icon,
.st-social a, .st-social a:hover, .st-social a::after, .st-social a:hover::after,
.blog-container .post-meta i, .blog-container:hover .post-meta i,
.blog-container .post-meta strong, .blog-container:hover .post-meta strong,
.team-container.style-1 .team-photo > span::after, .team-container.style-1:hover .team-photo > span::after,
.team-container.style-1 .team-content, .team-container.style-1:hover .team-content,
.service-container.style-1, .service-container.style-1:hover,
.service-container.style-1::after, .service-container.style-1:hover::after,
.service-container.style-2 .service-image a::after, .service-container.style-2 .service-image a:hover::after,
.service-container.style-2 .service-image::before, .service-container.style-2 .service-image:hover::before, 
.service-container.style-2 .service-image::after, .service-container.style-2 .service-image:hover::after,
.st-iconbox.style-1 .box-icon::before, .st-iconbox.style-1:hover .box-icon::before,
.st-iconbox.style-1 .box-icon::after, .st-iconbox.style-1:hover .box-icon::after,
.st-promobox a .box-content, .st-promobox a:hover .box-content,
.service-link a, .service-link a:hover,
.service-link a::after, .service-link a:hover::after,
.blog-container .post-thumb a::after, .blog-container .post-thumb a:hover::after,
.blog-container .post-thumb::before, .blog-container .post-thumb::after,
.blog-container .post-thumb:hover::before, .blog-container .post-thumb:hover::after,
.more-link a, .more-link a:hover, .more-link a::after, .more-link a:hover::after,
ul.primary-menu ul a:after, ul.primary-menu ul a:hover:after,
ul.primary-menu ul li a, ul.primary-menu ul > li > a,
ul.primary-menu ul li a:hover, ul.primary-menu ul > li:hover > a,
.header-style-v2 .header-skin-default ul.primary-menu > li > a::after,
.header-style-v2 .header-skin-default ul.primary-menu > li > a::after,
.header-style-v2 .header-skin-default ul.primary-menu > li > a:hover::after,
.header-style-v2 .header-skin-default ul.primary-menu > li:hover > a::after{
	-webkit-transition:all 0.35s ease 0s;
	   -moz-transition:all 0.35s ease 0s;
			transition:all 0.35s ease 0s;
}

.wpb_color .st-counter.style-icon .box-icon{
	color:inherit;
}
.wpb_color .st-client ul.list-inline li{
	border-color:inherit;
}

/*=========================================================================
  Global style
//=======================================================================*/
.st-heading,
.st-iconbox,
.st-promobox,
.st-pricingbox,
.st-pricinglist,
.st-counter,
.st-countdown,
.st-blog .blog-container,
.st-portfolio .portfolio-container,
.st-team .team-container,
.st-testimonial .testimonial-container,
.st-testimonial-slider,
.st-client,
.st-client-slider,
.st-service .service-container,
#comments-title{
	margin-bottom:30px !important;
}
