/*

Table of Contents

1.0 - Global
2.0 - Widget Title
3.0 - Widget List
	3.0.1 - Widget Filter by Price
	3.0.2 - Widget Nav and pages
	3.0.3 - Widget text
	3.0.4 - Widget Comments
	3.0.5 - Widget Categori
	3.0.6 - Widget Product List
	3.0.7 - Widget Top Rated Product
	3.0.8 - Widget Tag Cloud
	3.0.9 - Widget Calendar
	3.0.10 - Widget RSS
4.0 - Custom Widget
	4.0.1 - Custom WooCommerce
	4.0.2 - Custom Blog
	4.0.3 - Custom Services
	4.0.4 - Custom Teams
	4.0.5 - Custom Contact
	4.0.6 - Custom mc4wp

*/

/*=========================================================================
  Global
//=======================================================================*/
.widget{ 
	margin-bottom:50px;
	overflow:hidden;
	/*line-height:22px;*/
	font-size:13px;
}
#sidebar-wrapper .widget:last-child{
	margin-bottom:0;
}
#sidebar-wrapper .widget{
	padding:30px;
	background-color:#f9f9f9;
}
#footer .widget{
	margin-bottom:20px;
}
#footer .textwidget p:last-of-type{
	margin-bottom:0;
}

/*=========================================================================
  Widget Title
//=======================================================================*/
.widget-title{
	font-size:13px;
	margin-top:0;
	font-weight:600;
	letter-spacing:1px;
	text-transform:uppercase;
	margin-bottom:20px;
	padding-bottom:10px;
	position:relative;
	overflow:hidden;
}
.widget-title::before,
.widget-title::after{
	position:absolute;
	content:'';
	left:0;
	bottom:0;
	width:20px;
	border-bottom:2px solid #fbb034;
}
.widget-title::after{
	left:25px;
	width:100%;
	border-color:rgba(0, 0, 0, .09);
}
#footer .widget-title::after{
	border-color:rgba(0, 0, 0, .15);
}
#footer .widget-title{
	color:#fff;
}

/*=========================================================================
  Widget List
//=======================================================================*/
.widget ul,
.widget ol{
	list-style:none;
	margin:0;
	padding:0;
}
.widget .st-iconlist,
.widget .fa-ul{
	margin-left:2.14286em;
}
.widget li{
	margin:0;
	padding:0;
	position:relative;
}

.st-blog-wgt li{
	position:relative;
	padding:10px 0;
}

.st-blog-wgt li,
.widget_products li,
.widget_top_rated_products li,
.widget_recent_comments li,
.widget_recent_entries li,
.st-teams-wgt li,
.st-twitter-wgt li{
	padding:10px 0;
	border-bottom:1px solid rgba(0, 0, 0, .05);
}
.widget_product_categories li,
.widget_categories li,
.widget_archive li,
.widget_layered_nav li,
.widget_meta li,
.st-services-wgt li{
	padding:0;
	border-bottom:1px solid rgba(0, 0, 0, .05);
}
.st-blog-wgt li:last-of-type,
.widget_products li:last-of-type,
.widget_top_rated_products li:last-of-type,
.widget_recent_comments li:last-of-type,
.widget_recent_entries li:last-of-type,
.st-teams-wgt li:last-of-type,
.st-twitter-wgt li:last-of-type,
.widget_product_categories li:last-of-type,
.widget_categories li:last-of-type,
.widget_archive li:last-of-type,
.widget_layered_nav li:last-of-type,
.widget_meta li:last-of-type,
.st-services-wgt li:last-of-type{
	border:none;
}

.widget_product_categories li a,
.widget_archive li a,
.widget_layered_nav li a,
.widget_meta li a,
.widget_pages li a,
.widget_nav_menu ul li a,
.st-services-wgt li a{
	display:block;
	padding:10px 0;
}

#footer .widget li{
	border-color:rgba(255, 255, 255, 0.1);
}
/*Filter by price*/
.widget_price_filter{
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
	background-color:#303030;
}
.woocommerce .widget_price_filter .ui-slider-horizontal{
	height:0.4em;
}
.woocommerce .widget_price_filter .price_slider_amount{
	font-size:14px;
	font-weight:600;
}

/*Widget Nav and pages*/
.widget_layered_nav li span{
	position:absolute;
	right:0;
	top:50%;
			transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

.widget_nav_menu li,
.widget_pages li{
	padding:0;
	border-top:1px solid #f4f4f4;
}
.widget_nav_menu .menu > li:first-child,
.widget_pages > ul > li:first-child{
	border:none;
}
.widget_nav_menu .menu > li > li:last-child,
.widget_pages > ul > li:last-child{
	border-bottom:1px solid #f4f4f4;
}
.widget_nav_menu ul ul li a,
.widget_pages ul ul li a{
	padding-left:20px;
}

/*Widget text*/
.widget_text strong{
	font-weight:600;
}
.widget_text .wp-caption{
	margin-bottom:20px;
}

/*Widget Comments*/
.widget_recent_comments ul li::before{
	position:relative;
	content:'';
	list-style-position:inside;
	list-style-type:decimal;
}

/*Categori*/
.widget_categories li a,
.widget_archive li a{
	display:inline-block;
	padding:10px 0;
	margin-right:7px;
}

/*Product List*/
.widget_products li a{
	margin-bottom:5px;
}
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img{
	width:55px;
}

/*Top Rated Products*/
.widget_top_rated_products li > span{
	display:block;
}

/*Widget Tag Cloud*/
.widget.widget_tag_cloud .tagcloud,
.widget.widget_product_tag_cloud .tagcloud{
	overflow:hidden;
}
.widget.widget_tag_cloud a,
.widget.widget_product_tag_cloud a{
	font-size:13px !important;
	float:left;
	line-height:30px;
	overflow:hidden;
	white-space:nowrap;
	color:#fff;
	padding:0 7px;
	margin:0 3px 3px 0;
	background-color:#36383e;
}
.widget.widget_tag_cloud a:hover,
.widget.widget_product_tag_cloud a:hover{
	background-color:#ffb300;
	color:#fff;
}
#footer .widget.widget_tag_cloud a,
#footer .widget.widget_product_tag_cloud a{
	border-color:rgba(255, 255, 255, .3);
}

/*Widget Calendar*/
#calendar_wrap {}
#wp-calendar{
	margin-bottom:0;
	width:100%;
	border-collapse:collapse;
}
#wp-calendar caption{
    padding: 10px;
}
#wp-calendar th, 
#wp-calendar td{
	width:14.28%;
	padding:5px 0;
	text-align:center;
	font-weight:300;
	font-size:14px;
}
#wp-calendar td{
	color:#999;
}
#wp-calendar td#today{
	font-weight:bold;
	color:#fff;
}
#wp-calendar tfoot td{
	display:none;
}

/*Widget RSS*/
.widget.widget_rss li a{
	display:block;
	font-weight:600;
}
.widget.widget_rss li span,
.widget.widget_rss li cite{
	font-size:11px;
}
.widget.widget_rss li cite{
	display:block;
	padding-bottom:4px;
	text-align:right;
	border-bottom:1px solid #ddd;
}
.widget.widget_rss li .rssSummary{
	margin:10px 0;
}

/*=========================================================================
  blog
//=======================================================================*/
.st-blog-wgt .media-body a{
	line-height:17px;
	display:block;
	font-weight:600;
}
.st-blog-wgt .media-body span{
	font-size:12px;
	color:#c0c0c0;
}
.st-blog-wgt .pull-left{
	width:40px;
	overflow:hidden;
	margin-right:20px;
	padding:0;
			border-radius:3px;
	-webkit-border-radius:3px;
}
.st-blog-wgt .pull-left a{
	display:block;
}
.st-blog-wgt .post-date{
	opacity:0.5;
	display:block;
	font-size:13px;
}
.st-blog-wgt .post-date i{
	display:none;
}
.widget_recent_entries span{
	display:block;
}

/*=========================================================================
  Custom Flickr
//=======================================================================*/
.st-flickr-wgt .flickr_badge_image{
    float: left;
    margin: 0 10px 10px 0;
    padding: 0;
}
.st-flickr-wgt .flickr_badge_image a{
	display:block;
	height:100%;
	overflow:hidden;
	position:relative;
}
.st-flickr-wgt .flickr_badge_image img{
	width:100%;
	height:auto;
	position: static;
}

/*=========================================================================
  Custom Twitter
//=======================================================================*/
.st-twitter-wgt ul li{
	position:relative;
}
.st-twitter-wgt ul li:before{
	position:absolute;
	content:'\f099';
	color:#55acee;
	display:block;
	font-family:'FontAwesome';
	top:auto;
	left:0;
	bottom:9px;
	z-index:2;
}
.st-twitter-wgt ul li > a{
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:11px;
	color:#c0c0c0;
	margin-left:25px;
}
.st-twitter-wgt ul li span{
	display:block;
}
.st-twitter-wgt ul li:hover span a{
	color:#55acee;
}

/*=========================================================================
  Custom Services
//=======================================================================*/
.st-services-wgt li{
	overflow:hidden;
}
.st-services-wgt li a{
	position:relative;
	padding-left:30px;
}
.st-services-wgt li .service-icon,
.st-services-wgt li .service-image{
	width:30px;
	position:absolute;
	left:0;
	display:block;
	top:50%;
			transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.st-services-wgt li .service-image{
	padding-right:10px;
	width:30px;
	max-height:30px;
			border-radius:3px;
	-webkit-border-radius:3px;
}

/*=========================================================================
  Custom Teams
//=======================================================================*/
.st-teams-wgt li{}
.st-teams-wgt .pull-left{
	width:60px;
	height:auto;
	padding:0;
	margin-right:10px;
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, .075);
			border-radius:60px;
	-webkit-border-radius:60px;
}
.st-teams-wgt .media-body a{
	display:block;
	font-weight:600;
	line-height:20px;
}
	
/*=========================================================================
  Custom Contact
//=======================================================================*/
.st-contact-wgt li{
	padding-left:30px;
	position:relative;
	margin-bottom:5px;
}
.st-contact-wgt li i{
	position:absolute;
	top:6px;
	left:0;
}

/*=========================================================================
  Mailchimp
//=======================================================================*/
.col-md-12 .widget_mc4wp_form_widget{
	width:30%;
	margin:0 auto;
}
.widget_mc4wp_form_widget form .mc4wp-form-fields{
	display:table;
	table-layout:fixed;
	width:100%;
}
.widget_mc4wp_form_widget form p{
	display:table-cell;
	vertical-align:middle;
}
.widget_mc4wp_form_widget form p:last-of-type{
	width:90px;
	text-align:right;
}
.widget_mc4wp_form_widget form label{
	display:none;
}
.widget_mc4wp_form_widget form input{
	line-height:22px;
	padding:7px 15px;
}
.widget_mc4wp_form_widget form input[type="email"]{
	border:1px solid rgba(255, 255, 255, .15);
	background:rgba(255, 255, 255, .1);
}
.widget_mc4wp_form_widget form input[type="email"]:focus{
	border-color:rgba(255, 255, 255, .25);
	background:rgba(255, 255, 255, .15);
}